In [1]:
from pathlib import Path
import pandas as pd

In [27]:
data_dir = Path("/home/srs-9/Projects/ms_mri/data")
choroid_dists = pd.read_csv(data_dir / "centroid-choroid_SDT.csv", index_col="subid")
mni_dist = pd.read_csv("/home/srs-9/Projects/ms_mri/data/mni-centroid-choroid_SDT.csv", index_col="struct")

hips_thomas_ref = pd.read_csv(
    "/home/srs-9/Projects/ms_mri/data/hipsthomas_struct_index.csv", index_col="index"
)['struct']

mni_dist['struct_name'] = hips_thomas_ref

mean_dists = choroid_dists.mean()

In [23]:
mni_dist.sort_values(by="dist")

             dist struct_name
struct
2.0      5.099020        AV_2
8.0      8.544003       Pul_8
4.0     10.246951        VA_4
12.0    11.090536    MD_Pf_12
6.0     11.224972       VLP_6
7.0     12.041595       VPL_7
27.0    12.206555      Cau_27
11.0    13.928389       CM_11
13.0    15.264338       Hb_13
5.0     16.792856       VLa_5
10.0    17.291616      MGN_10
9.0     17.720045       LGN_9
14.0    17.888544      MTT_14
29.0    19.131126      GPe_29
30.0    20.223749      GPi_30
26.0    23.853722      Acc_26
31.0    24.269321      Put_31
32.0    26.191601       RN_32
28.0    30.822069      Cla_28

In [29]:
mean_dists.sort_values()

2      3.810524
8      6.731393
12     8.369156
4      8.521231
6      9.841956
7     10.332253
27    11.079665
11    11.434895
13    11.476881
5     13.213171
10    13.627468
14    14.467418
9     14.873023
29    15.664045
30    16.314314
26    18.832145
31    20.248547
32    20.693489
28    26.099219
dtype: float64

In [20]:
for i in enumerate(hips_thomas_ref):
    print(i)

(0, 'THALAMUS_1')
(1, 'AV_2')
(2, 'VA_4')
(3, 'VLa_5')
(4, 'VLP_6')
(5, 'VPL_7')
(6, 'Pul_8')
(7, 'LGN_9')
(8, 'MGN_10')
(9, 'CM_11')
(10, 'MD_Pf_12')
(11, 'Hb_13')
(12, 'MTT_14')
(13, 'Acc_26')
(14, 'Cau_27')
(15, 'Cla_28')
(16, 'GPe_29')
(17, 'GPi_30')
(18, 'Put_31')
(19, 'RN_32')
(20, 'GP_33')
(21, 'Amy_34')